

*{
    box-sizing: border-box;
}
.row{
    
    border: solid 2px black;
    
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    border: solid 2px red;
    float: left;
    height: 150px;
    width: 33.33%;
}

.col2{
    border: solid 2px blue;
    float: left;
    height: 150px;
    width: 50%;
}

.row2{
    border: solid 2px violet;
    height: 50%;
}

.col3{
    float: left;
    border: solid 2px green;
    height: 150px;
    width: 33.33%;
}

.row3{
    border: solid 2px greenyellow;
    height: 33.33%;
}

ul{
    border: solid 2px brown;
}



li{
    list-style: none;
    display: inline-block;
    border: solid 2px red;
}

a:link{
    
    text-decoration: none;
}

nav{
    border: solid 2px green;
}















